.display-5 {
    font-size: 25px;
}

tr:hover {
    background-color: yellow;
}

#add-train-btn {
    background: linear-gradient(90deg, #03a9fe, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    width: 200px;
}

#add-train-btn:hover {
    animation: animate 8s linear infinite;
}

.jumbotron {
    border-radius: 30px;
}

.colorChanger {
    background: linear-gradient(90deg, #03a9fe, #f441a5, #ffeb3b, #03a9f4);
    background-size: 1000%;
    border-radius: 30px;
    -webkit-background-clip: text;
    animation: animate 8s linear infinite;
}

.text-center {
    color: rgba(255, 255, 255, .3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.type2 {
    font-size: 40px;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}